<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Example</title>
<script src="../manoj/js/angular.min.js"></script>
<script src="../manoj/js/script.js"></script>
<script type="text/javascript">
function addctrl($scope){
$scope.total=function(){
return parseFloat($scope.x)+parseFloat($scope.y);
};
}</script>
</head>

<body>
<div ng-app="">
<p>A demo example on Use of directives,expressions,controllers and filters.</p>
<p>Enter your name:</p>
<p>Name:<input type="text" ng-model="name" /></p>
<p><strong>Your Name is:{{name|uppercase}}</strong>!</p>

<p>Addition example:</p>
<div ng-app="" ng-controller="addctrl">
<form>
<li>1st: <input type="text" ng-model="x" /></li><br />
<li>2nd: <input type="text" ng-model="y" /></li><br />
<br />
<li>Total:<label>{{total()|currency}}</label></li>
</form>
</div>
</div>
</body>
</html>
