<!doctype html>
<html ng-app="details">
	<head>
		<title>JSon through Employee service</title>
		 <script src="js/angular.min.js"></script>
		 <script src="js/angular-resource.min.js" type="text/javascript"></script>
    	<script src="js/app.js"></script>
    	<script src="js/services.js"></script>
    	<script>
    	
    	var employees = angular.module('details', ['employeeServices']);
        employees.controller('hello', ['$scope', 'Employee',
    	  function($scope, Employee) {
    	    $scope.record = Employee.query();
              // Our form data for creating a new post with ng-model
              $scope.postData = {};
             //to save data
              $scope.newPost = function() {
                  var post = new Employee($scope.postData);
                  post.$save();
              }
    	  }]);


    	</script>
	</head>

	<body>
		<div ng-controller="hello">
		    <div ng-repeat="rec in record" >
              <b>{{$index + 1}}: {{rec.f_name}}  {{rec.l_name}},  {{rec.designation}} </b><br> <br>
		    </div>
            <form ng-submit="newPost()">
                <label>New Post:</label>
                <textarea ng-model="postData.text"></textarea>
                <button type="submit" class="button button-positive button-block">Create</button>
            </form>
		</div>
	</body>
</html>