<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
Data Binding
Data binding in AngularJS, synchronizes AngularJS expressions with AngularJS data.

{{ firstName }} is synchronized with ng-model="firstName".
<div ng-app="" ng-init="firstName='Jyoti'">

    <p>Name: <input type="text" ng-model="firstName"></p>
    <p>You wrote: {{ firstName }}</p>

</div>

<p ng-app="" ng-init="quantity=1;price=5">

    Quantity: <input type="number" ng-model="quantity">
    Costs:    <input type="number" ng-model="price">

    Total in dollar: {{ quantity * price }}

</p>

<script src="js/angular.min.js"></script>
</body>
</html>